<footer align="center">
    <a href="#"
      ><img
        width="50"
        heigth="50"
        src="https://img.icons8.com/ios/50/000000/facebook--v2.png"
    /></a>
    <a href="#"
      ><img
        width="50"
        heigth="50"
        src="https://img.icons8.com/ios/50/000000/instagram-new--v3.png"
    /></a>
    <a href="#"
      ><img
        width="50"
        heigth="50"
        src="https://img.icons8.com/ios/50/000000/twitter--v3.png"
    /></a>
    <a href="#"
      ><img
        width="50"
        heigth="50"
        src="https://img.icons8.com/ios/50/000000/vk-circled--v5.png"
    /></a>
    <a href="#"
      ><img
        width="50"
        heigth="50"
        src="https://img.icons8.com/ios/50/000000/youtube-play--v2.png"
    /></a>
  </footer>
  <script src="button.js" defer></script>
  </body>
  </html>