<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="STYLESHEET" type="text/css" href="styles.css" />
  </head>
  <body id="body">
    <header>
      <h1>
        <i>Yatany</i>
      </h1>
    </header>
    <title>Designer handmade jewelry</title>
    <nav align="center">
      <hr size="3" color="#b17291" />
      <h2>
      <a  class="top-a" href="http://localhost:3000/">Новинки</a>
      <a class="top-a" href="#">Все украшения</a>
      <a class="top-a" href="#">Коллекции</a>
      <a class="top-a" href="#">Скидки</a>
      <a class="top-a" href="#">Узнать больше</a>
      <a class="top-a" href="/shopping-cart" id="basketButton">Корзина</a>
    </h2>
  </nav>
